<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="open_rviz" default="true"/>

  <!-- TurtleBot3 Simulation-->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- TurtleBot3 Static TF-->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_doom_static_tf"
    args=" 0.0 0.0 0.0  0.0 0.0 0.0 map odom" />  

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find es_slam)/rviz/es_slam.rviz"/>
  </group>


</launch>
